{% extends "base.html" %}
{% load static %}
 {% block page_header%}
        <div class="contaier hearder-container">
        <div class="row">
            <div class="col">
        </div>
        </div>
        
        </div>
 {% endblock %}


{% block content %}
<h1 class= "display-4 text-success">It Works!</h1>
<div class="container">
    <div class="row">
    <div class="col-7 col-md-6 my-auto">
        <h1 cLass="2display-4 logo-font tect-black" > The New coloection are here</h1>
    </div>
     <duv>
        <h4>
            <a href= "" class="shop-now-block btn btn-lg rounded-8 text-uppercase py-3"> Shop Now</a>
        </h4>
    </duv>
    
    {% autoescape off %}{% endautoescape %}</div></div>
{% endblock%}